.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    height: 300px;
}


.Eevee {
    padding: 16px;
    background-color: rgb(248, 61, 77)
}
.Vulpix {
    padding: 18px;
    background-color:beige
}
.Jigglypuff{
    padding:16px;
    background-color: rgba(72, 104, 247, 0.904)
}